@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navigation-top {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navigation-top h1 {
  color: rgb(46, 46, 255);
}

.navigation-top .links {
  margin-left: auto;
}

.navigation-top a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navigation-top a:hover {
  color: rgb(46, 46, 255);
}

.main-content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview a {
  text-decoration: none;
}

.blog-preview h2 {
  font-size: 20px;
  color: #2e2eff;
  margin-bottom: 8px;
}

/* blog details / its body */

.blog-detail h2 {
  font-size: 20px;
  color: #2e2eff;
  margin-bottom: 10px;
}

.blog-detail div {
  margin: 20px 0;
}

.blog-detail button {
  background-color: #2e2eff;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* Room new blog */

.new-blog-content {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.new-blog-content label {
  text-align: left;
  display: block;
}

.new-blog-content h2 {
  font-size: 20px;
  color: #2e2eff;
  margin-bottom: 30px;
}

.new-blog-content input, .new-blog-content textarea , .new-blog-content select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;

  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.new-blog-content button {
  background-color: #2e2eff;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.new-blog-content button:hover {
  background-color: #0b0bff;
}

/* Not found page 404 */

.unknown-page h2 {
  margin-bottom: 20px;
}